[submodule "contrib/deterministic-build/electrum-locale"]
	path = contrib/deterministic-build/electrum-locale
	url = https://github.com/spesmilo/electrum-locale
[submodule "electrum_cat/www"]
	path = electrum_cat/plugins/payserver/www
	url = https://github.com/jj-one/electrum-http.git
